<div class="show-apps">
    <div class="row">
        <div class="col-xs-4 leftColumn">
            <div class="eachApp" ng-repeat="eachApp in allApps" ng-click="deployApp(eachApp)">
                {{eachApp[1]}}
            </div>
        </div>
        <div class="col-xs-8 rightColumn">
            <div ng-if="deployedApp" class="fullWindow">
                <div>
                    <button type="button" ng-click="kill()">Kill Site</button>
                </div>
                <div class="fullWindow">
                    <iframe class="fullWindow" ng-src={{deployedApp}}></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
